//Sass语法
/*
	sass的使用
	兼容所有scc写法


*/
//全局变量

@import 'base';

// $mainColor:58bc58;
// $bgColor:#fc0;
// $title1:20px;


// .box{
// 	//局部变量
// 	$box-width:300px;

// 	width:$box-width;background:$bgColor;

// 	h1{font-size:$title1;border:1px solid $mainColor;}
// 	ul{list-style:none;padding:0;margin:0;
// 		list{border:1px solid #ccc;}
// 	}
// }


// $dir:top;
// h4{border-#{$dir}:1px solid #ddd;}

// //设置h1-h6的字体大小


// @for $i from 1 through 6{
// 	h#{$i}{font-size:(30/$i)px;}
// }


// //继承
// .title1{@extend .box}
#header{height: 680px;}
.header_1{
	border-bottom:1px solid #ccc;height: 40px;
	.header_t{
		height: 100%;font-size:12px;color:#777;
		.header_t_l{width: 136px;height: 39px;padding: 10px 0px 9px 0px;}
		.header_t_c{
			width:255px;height: 39px;padding: 10px 0px 9px 0px;
			dl{
				width: 85px;font-size:12px;float: left;
				dt{
					a{color:#777;padding: 0 9px;border-left:1px solid #e1e1e1;}
				}
				dd{
					ul{
						width: 71px;height: 84px;border:1px solid #ccc;border-top:none;margin-left: 5px;display: none;
						li{height: 28px;line-height: 28px;margin-left: 3px;}

					}
				}
			}
		}
		.header_t_r{width: 86px;height: 39px;padding: 10px 0px 9px 0px;}
	}
}
.header_2{
	height: 110px;
	.header_c{
		height: 100%;padding-top: 20px;
		h1{width: 240px;float: left;margin-right: 80px;}
		.header_c_c{
			width: 550px;height: 65px;margin-left: 50px;
			.chaxun{
				width: 550px;height: 40px;border:2px solid #f15c18;
				.chaxun1{
					
					width: 70px;height: 36px;line-height: 36px;padding-left: 15px;border-right: 1px solid #ccc;color:#777}
			}
			#keywordgoods{width: 360px;height: 36px;padding: 7px;color:#777}
			#buttonsearchgoods{width: 114px;height: 36px;background-color:#f15c18;float: right;color:#fff;

			}
			.chaxun2{
				width: 550px;height: 20px;margin-top: 5px;
				ul{
					li{
						float: left;
						a{display: inline-block;height: 20px;border-right: 1px solid #ccc;padding:0 8px ;color:#777}
					}
				}
			}
		}
		.header_c_r{
			dl{height: 40px;line-height: 40px;text-align:center;width: 120px;border:1px solid #ccc;float: right;margin-left: 10px;color:#777}
		}
		
				
	}
}
.header_3{
	border-bottom:1px solid #f15c18;height: 42px;
	.header_b{
		height: 41px;text-align:center;
		.nav_l{
			width: 172px;height: 41px;line-height: 41px;background-color:#f15c18;position:relative;float: left;
			h3{
				a{color:#fff;font-size:16px;}
			}
			.nav_c{
				width: 172px;height: 480px;position:absolute;top: 42px;left: 0;padding:20px 0;background-color:#34343a;
				ul{
					
					li{
						position:relative;
						.nav_c1{
							h4{

								a{color:#fff;font-size:14px;}
								em{color:#ccc}
							}
						}
						.nav_c2{
							width: 1030px;height: 480px;position:absolute;top: 0;left: 172px;border:1px solid #ccc;display: none;
							.nav_c2_l{
								float: left;
								dl{
									
									dt{float: left;
										h3{padding:0 20px;
										a{color:#000;}
									}
								}
									
									dd{
										float: left;
										a{color:#ccc;
											display:inline-block;height: 18px;line-height: 18px;padding:0 10px;border-left: 1px solid #ccc;
										}
									}
								}
							}
							.nav_c2_r{float: right;width: 250px;border-left: 1px solid #ccc;}
						}
					}
				}
			}
		}
		.nav_r{
			float: left;
			ul{
				li{
					float: left;
					a{display:inline-block;height: 36px;font-size:18px;padding: 8px 20px;}
				}
			}
		}
	}
}
.lunbo{
	position:relative;
	.top-live{
		width: 1033px;height: 79px;margin-left: 291px;
		.top-live-l{
			width: 866px;height: 79px;float: left;padding: 5px 15px;
			.top-live-l_l,.top-live-l_r{
				width: 410px;height: 71px;border:1px solid #ccc;float: left;padding: 5px;
				.live_l{
					width: 100px;height: 59px;float: left;border:1px solid #ccc;padding:10px;
					h3{
						font-size:18px;
					}
					h1{
						padding: 4px 0px;
					}
				}
				.live_r{
					width: 290px;height: 59px;float: left;padding-left: 15px;
					img{float: left;margin-right: 10px;}
					.live_r_1{
						width: 175px;height: 28px;line-height: 28px;float: left;
						a{color:#333;}

					}
					.live_r_2{
						height: 28px;line-height: 28px;
						span{color:#f15c18;}
						em{
							font-size:20px;color:#f15c18;
						}
						a{display:inline-block;width: 86px;height: 24px;line-height: 24px;border:1px solid #f15c18;text-align:center;color:#f15c18;margin-left: 20px;}
					}
				}
			}
			.top-live-l_r{
				float: right;
			}
		}
		.toplive-r{float: right;}
  	}
  	.bottom-live{
  		height: 400px;padding-left: 291px;
  		.lun{
  			width: 785px;height: 400px;float: left;overflow:hidden;position:relative;
  			ul{position:absolute;top:0;left:0;}
  			img{display: block;float:left;}
  			li{
			float:left;
			} 
			.next,.prev{position:absolute;left:0;top:50%;transform: translate(0,-50%);width:30px;height:50px;line-height:50px;background-color: rgba(0,0,0,.3);text-align:center;color:#fff;font-size:20px;}
			.next{left:auto;right:0;}
			.page{
				position: absolute;right:350px;bottom:15px;
				span{
					display:inline-block;margin:0 5px;width:10px;height:10px;line-height:10px;text-align:center;background-color:#3e3e3e;border-radius:50%;}
					.active{background-color:#f15c18;}
			}
			
  		}

  		.bottom-live-r{
  			width: 246px;height: 400px;float: left;background-color:#eeeeed;text-align:center;
  			h2{
  				width: 248px;height: 54px;line-height: 54px;font-size:20px;
  			}
  			h3{height:30px;line-height: 30px;}
  			p{padding: 0 29px;color:#90907b;}
  		}
  	}
}
#main{
	
	.home-sale-layout{
		height: 150px;background-color:#fff;
		ul{
				padding-top: 25px;
			li{
				width: 300px;height: 100px;float: left;border-right:1px solid #ccc;
				a{
					position:relative;
					h3{width: 105px;height: 24px;position:absolute;top: 34px;left:4px;font-size:16px;}
					h5{width: 100px;height: 18px;position:absolute;top:55px;left: 4px;}
					img{position:absolute;top:-25px;left:100px;}
				}
			}
		}
		
	}
	.home-brand-layout{
		height: 715px;
		.brand-top{
			height: 60px;position:relative;
			span{display: block;width: 1210px;border-bottom: 2px solid #ccc;position:absolute;top: 29px;left: 0;}
			h2{width:200px;height: 60px;position:absolute;top:0px;left: 41%;text-align:center;line-height: 60px;font-size:30px;z-index:999;background-color:#fff;font-weight:bold;}
		}
		.brand-main{
			ul{
				li{width: 580px;height: 300px;float: left;margin-bottom: 30px;}
				li:hover{opacity:0.7;}
			}
		}
	}
	.food{
		height: 511px;position:relative;
		.food-top{
			width: 100%;height: 37px;border-bottom: 2px solid #f15c18;position:relative;overflow:hidden;
			h2{
				width: 120px;height: 30px;line-height: 30px;float: left;
				span{font-size:20px;}
			}
			ul{
				float: right;border:1px solid #ccc;
				li{
					float: right;width: 83px;height: 34px;line-height: 34px;text-align:center;
					a{
						display: block;width: 60px;height: 24px;margin:5px 6px ;line-height: 24px;
						
					}
					.cur{background-color:yellow;}
				}
			}
		}


		.box{position:absolute;top:42px;left: 0;}
		.food-main1,.food-main2{
			width: 100%;height:474px;
			.food-main_1{
			float: left;width: 210px;
				.food-main_1_b{
					position:absolute;top:324px;left: 0;padding: 25px 15px 25px 25px ;
					li{
						height: 24px;margin-right: 10px;
					}
				}

				.food-main_1_t{
					width: 210px;height: 84px;
					li{float: left;height:42px;line-height:42px;text-align:center;width: 100px;}
				}
			}
			.food-main_2{
				width: 219px;
				h1{border:1px solid #ccc;}
			}
			.food-main_3{
				width: 339px;height: 236px;position:relative;overflow: hidden;
				
				ul{position:absolute;top:0;left:0;}
  				img{display: block;float:left;}
  				li{
				float:left;
				} 
				.next,.prev{position:absolute;left:0;top:50%;transform: translate(0,-50%);width:30px;height:50px;line-height:50px;background-color: rgba(0,0,0,.3);text-align:center;color:#fff;font-size:20px;}
				.next{left:auto;right:0;}
				.page{
					position: absolute;right:350px;bottom:15px;
					span{
						display:inline-block;margin:0 5px;width:10px;height:10px;line-height:10px;text-align:center;background-color:#3e3e3e;border-radius:50%;}
						.active{background-color:#f15c18;}
				}
			}
			.food-main_4{
				width:219px;
				h1{border:1px solid #ccc;}
			}
			.food-main_5{
				width: 219px;
				h1{border:1px solid #ccc;}
			}
		}
		.food-foot{
			height: 64px;position:absolute;top: 516px;left: 0;
			ul{
				padding-top: 15px;
				li{
					width: 121px;height: 33px;float: left;border-right: 1px dashed #ccc;text-align:center;
					a{
						img{width: 99px;height: 33px;}
					}
				
				}
			}
		}
	}
}
